*{
    margin: 0;
    padding: 0;
    border: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*清除移动端设备默认的点击高亮效果*/
    -webkit-tap-highlight-color: transparent;
}

html{
    /*rem知识点：可以联想一下h系列标签的em单位*/
    /*此处设置的fz，可以作为其他地方的rem单位使用，通常测试字体大小为了方便，20px，因为chrome显示的最小字高度是12px*/
    font-size: 20px;
}

body{
    font-size: 0.6rem;
    color: #000;
    font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
    background: #f5f5f5;
}

a{
    text-decoration: none;
    color: #666;
}

input, textarea{
    outline: none;
    /*去除iOS默认的一些非扁平化控件效果(风格不符合不如不要)*/
    -webkit-appearance: none;
}

ul, ol{
    list-style: none;
}
ul>li>a{
    display: inline-block;
    width: 100%;
}

.clearfix::before,
.clearfix::after{
    content: "";
    display: block;
    height: 0;
    /*去除所有浮动*/
    clear: both;
    /*隐藏显示，但是保留占位*/
    visibility: hidden;
    /*optional*/
    overflow: hidden;
}

[class ^= "icon_"]{
    background: url("../images/sprites.png") no-repeat;
    -webkit-background-size: 200px 200px;
    background-size: 200px 200px;
}

.light_border{
    position: relative;
}

.light_border::before{
    content: "";
    position: absolute;
    left: -1px;
    top: -1px;

    width: 200%;
    height: 200%;
    /* 课后遇到不同方向的细边框的时候，只需要修改此处的border即可 */
    border: 1px solid #e0e0e0;
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    /* 需要在放大情况下，根据position的left和top值，稍作调整 */
    transform-origin: 1px 1px;
    -webkit-transform-origin: 1px 1px;
}